@import "theme";
@import "~bootstrap/scss/bootstrap";

.red {
    background-color: $red;
    color: white;
}

.grow {
    flex-grow: 1;
}

.custom-container {
    max-width: 100vw;

    .row {
        width: 100%;
    }
}

a {
    &:hover {
        color: lighten(black, 30) !important;
    }
}

.hero {
    margin-top: 7rem;
    margin-bottom: 5rem;
}

@include media-breakpoint-down(sm) {
    .hero {
        margin-top: 5rem;
        margin-bottom: 3.5rem;
    }
}
