@import "~bootstrap/scss/bootstrap";

// Resets

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

// Sticky Footer

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

// Custom Styles

a {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
