@import "~bootstrap/scss/bootstrap";

// Resets

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}
